<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon" aria-label="Menu icon-button">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="'/home'" aria-label="button signOut" (click)="onSignOut()">
        <mat-icon>weekend</mat-icon>
        <span>Sign Out</span>
      </button>
      <button mat-menu-item [routerLink]="'/admin/admin-panel'" arial-label="button navigate admin panel ">
        <mat-icon>list_alt</mat-icon>
        <span>Users List</span>
      </button>
      <button mat-menu-item aria-label="button navigate applications list" [routerLink]="'/admin/application-list'">
        <mat-icon>font_download</mat-icon>
        <span>App List</span>
      </button>
    </mat-menu>
    <span>Auth Server</span>
    <app-ad-banner style="margin-left: 30%;"></app-ad-banner>
    <span class="flexExpand"></span>
    <ng-container *ngIf="token">
        <span *ngIf="userhttp$ | async as user">{{ user.username }}</span>
      <button mat-icon-button aria-label="user detail button" [routerLink]="'/user/user-details'">
        <mat-icon>person_outline</mat-icon>
      </button>
    </ng-container>
    
  </mat-toolbar>
</p>
