<div class="container">
<mat-card class="details-card">
  <mat-card-header>
    
    <div mat-card-avatar class="avatar-header-image"></div>
    <mat-card-title>User</mat-card-title>
    <mat-card-subtitle>user@goodboy.org</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <mat-label>Details</mat-label>
    <mat-label>La fleur en bouquet fane et jamais ne renait</mat-label>
  </mat-card-content>
  <mat-card-actions class="card-content">
    <button mat-raised-button color="warn">Change password</button>
  </mat-card-actions>
</mat-card>
</div>