<div class="container">
<mat-card class="details-card">
  <mat-card-header>
    
    <img mat-card-avatar class="avatar-header-image" src="{{user.avatar}}"/>
    <mat-card-title>{{user.username}}</mat-card-title>
    <mat-card-subtitle>{{user.mail}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content">
    <mat-label>Rôle : {{user.role.name}}</mat-label>
  </mat-card-content>
  <mat-card-actions class="card-content">
    <button mat-raised-button color="warn">Change password</button>
  </mat-card-actions>
</mat-card>
</div>