<div class="container">

  <div class="container_left">
    <ng-lottie [options]="options"></ng-lottie>
  </div>

  <form [formGroup]="form" class="container_center" (submit)="onLogin()">
    <div class="container_center">
      <mat-card class="card">

        <mat-card-header class="title_center">
          <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>
        <mat-card-content class="card_content">

          <mat-form-field appearance="fill" class="field">
            <mat-label>Enter your email</mat-label>
            <input id="email-input" aria-label="Email input" matInput placeholder="pat@example.com" formControlName="email" required>
            <mat-error *ngIf="form.controls['email'].invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-divider></mat-divider>

          <mat-form-field appearance="fill" class="field">
            <mat-label>Enter your password</mat-label>
            <input id="password-input" formControlName="password" aria-label="Password input" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-divider></mat-divider>

        </mat-card-content>

        <mat-card-actions>
          <button id="signin-button" mat-button>Sign In</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </form>

</div>
